/* Стили для Index.html */



/* Hero */

.hero{
    background: #2F303A;
    padding: 200px 452px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 105px;
    width: 1600px;
    outline: 1px solid teal;
  
}
/*   Эффективные решения для вашего бизнеса */
.hero-title{
    display:block;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-bg-white-color);
    max-width: 696px;
    margin-bottom: 30px ;
   
}
/* Кнопка заказать услугу */

.btn-hero:hover{
    background: #188CE8;
    
}
.btn-hero{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--text-wh-color);
    background:var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    min-width:width: 200px;
    height: 60px;
    margin-bottom: 200px;
    border:0;   
}



/* Наши преимущества */
.features{
    margin-bottom: 94px;
}

.feature-list {
    display: flex;
    justify-content: center;
    margin-right: -30px;
}

.feature-item{
    flex-basis: ((100%-120px)/4);
    margin-right: 30px;
}

.feature-title{
    
        font-weight: 700;
        font-size: 16px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--title-text-color);
        margin-bottom: 10px;
}

.feature-item{
    width: 270px;
}

.feature-item:not(:last-child) {
    margin-right: 50px;
}





/* --Чем мы занимаемся?, Наша команда*/
.section-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
        margin-bottom: 50px;
        text-align: center;


}


.examples.list{
    margin-bottom: 94px;
    text-align: center;  
    display: flex;}


.example-item{
flex-basis: ((100%-90px)/3);
margin-right: 30px;

}
.example-item:not(:last-child){
    margin-right: 30px;
}




/* Команда */
.team{
    padding: 94px 215px;
}

.teams{
    display: flex;
    justify-content: center;
    margin-right: -30px;
}

.team-item {
    flex-basis: ((100%-120px)/4);
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.teams.list .title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 30px;
    margin-bottom: 10px;
}
.teams.list{
    text-align: center;
    margin-bottom: 94px;
    display: flex;
}
.team-item:not(:last-child){
margin-right: 30px;
}

.teams .team-icon{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}



.team-content{
    padding: 30px 60px;
} 