/* стили для portfolio.html */


/* Buttons */

.buttons{
display: flex;
justify-content: center;
align-content: center;

}

.btn-filtres{
border: 0;
}

.fitres{
    padding-top: 94px;
    padding-bottom: 50px;
    padding-left: 495px;
    padding-right: 945px;
}


.btn-filtres{
    /* шрифт кнопки */
    display:inline-block;
    font-family:inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    margin-bottom: 8px;
    min-width: 73px;
   
    /* фон кнопки */
    background: #F5F4FA;
    border-radius: 4px;
}

.btn-item:not(:last-child){
    margin-right: 8px;
  
}


.btn-filtres:hover,
.btn-filtres:focus{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--text-wh-color);
    background: var(--primary-bg-color);
    cursor: pointer;
}
/*  Projects */
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -30px;
}

.project-item{
    flex-basis:((100%-270px)/9);
    margin-right: 30px;
    
}

.project-item .img-content{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.project-item:not(:last-child){
    margin-bottom: 30px;
}

.projects-main{
    padding-top: 34px;
    padding-bottom: 30px;
}

.projects.list{
    margin-bottom: 30px;
}


.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2; 
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-bottom: 4px;
}

.project-description{
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}

